@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --principal: #d5dede;
    --secundario: #0071ff;

    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
    --bx-shadow: #dfdfdfba;
    --yellow: yellow;
    transition: .7s;
}
body.light{
    transition: .7s;
}
body{
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: 'poppins';
    transition: background-color .7s, color .7s;
}
header{
    background-color: #0073ff94;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 2px 8px var(--bx-shadow);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header .logo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    user-select: none;
}
header .logo img{
    width: 50px;
    height: auto;
    background-color: var(--principal);
    border-radius: 50%;
}
header .logo p{
    padding: 0px 5px;
}
header .logo p::before{
    content: 'Dev W';
    border-bottom: .2em solid var(--principal);
    border-bottom-left-radius: 10px;
}
header .logo p::after{
    content: 'eb';
    border-bottom: .2em dotted /*dashed*/ var(--principal); 
}
header nav ul{
    display: flex;
    flex-direction: row;
}
header nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--principal);
    /* border: 1px solid var(--principal);
    width: 100px;
    padding: 5px;
    border-radius: 6px; */
}
header nav i{
    display: block;
}
nav p:hover{
    text-decoration: underline;
}
header .tema{
    background-color: var(--bg-dark);
    color: var(--secundario);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1.8em;
    cursor: pointer;
    box-shadow: 0px 0px 8px ;
}
header .tema i{
    color: var(--yellow);
    
}




main{
    background-color: var(--bg-dark);
    padding: 15px;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
main h1, mark{
    font-family: 'lato';
    /* font-size: 3.4em; */
    font-size: 7dvw;
    padding: 40px 0px 20px 20px;
}
main .sobre{
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    border-radius: 20px;
    padding: 20px;
}
.sobre .resumo p{
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}
.resumo span{
    color: var(--secundario);
    font-family: 'lato';
}
#eu{
    font-size: 3em;
}
main .sobre .imagem img{
    width: auto;
    height: 250px;
}
.ferramentas ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
li{
    list-style: none;
    padding: 1px 10px;
}
.rodape{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.direitos{
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: var(--cor-1); */
    font-size: 1.1em;
    padding: 10px;
    font-weight: 300;
}
@media screen and (max-width: 660px){
    header i, samp{
        font-size: 2em;
    }
    header nav P{
        display: none;
    }
}